
<!-- Page header -->
<hello name="{{ name }}"></hello>

<!-- Page content -->
<div class="basic-container">
  <mat-card>
    <!-- Page form start -->
    <form [formGroup]="exampleForm" novalidate (ngSubmit)="save(exampleForm.value, exampleForm.valid,$event)" >
    <mat-card-title>Reactive form</mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >
          
          <!-- Comapny name input field -->
          <mat-form-field class="example-full-width" fxFlex="75%"> 
            <input matInput placeholder="Company name" formControlName="companyName" required>
            <!-- input field hint -->
            <mat-hint align="end">
              Can contain only characters. Maximum {{exampleForm.controls.companyName.value.length}}/25
            </mat-hint>
            <!-- input field error -->
            <mat-error *ngIf="exampleForm.controls.companyName.invalid">
              <span [hidden]="!exampleForm.controls['companyName'].errors.required">
                This field is required.
              </span> 
              <span [hidden]="!exampleForm.controls['companyName'].errors.maxlength">
                Maximmum alowed charactes are 25
              </span>           
            </mat-error>
          </mat-form-field>
  
          <!-- Country input field -->
          <mat-form-field class="example-full-width" > 
            <input matInput placeholder="Country" formControlName="countryName">
            <mat-hint align="end">Your IP country name loaded from ipapi.co/json/</mat-hint>
          </mat-form-field>
        
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center" layout-margin>
          
          <!-- Street input field -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Street" fxFlex="75%" formControlName="street">
          </mat-form-field>

          <!-- City input field -->
          <mat-form-field class="example-full-width" > 
            <input matInput placeholder="City" formControlName="city">
            <mat-hint align="end">City name loaded from ipapi.co/json/</mat-hint>
          </mat-form-field>

          <!-- Zip code input field -->
          <mat-form-field class="example-full-width" fxFlex="20%"> 
            <input matInput placeholder="Zip" formControlName="zipCode">
            <mat-hint align="end">Zip loaded from ipapi.co/json/</mat-hint>
          </mat-form-field>

      </div>
      <br>

      
    </mat-card-content>

    <!-- Form submit button enabled on if form is valid -->    
    <mat-card-actions>
      <button mat-button [disabled]="exampleForm.invalid">Submit</button>
    </mat-card-actions>    
    </form> <!-- Page form end -->
  </mat-card>
  
</div>
